body {
    --overlap: 10rem;
    --border-thickness: 1px;
    --theme-color: #1a237e;
  }
  
  body > header {
    padding: 2rem 2rem var(--overlap) 2rem;
    background-image: radial-gradient(#0336ff, #000);
    width: 100%;
    box-sizing: border-box;
  }
  
  h1 {
    color: #fff;
    margin-top: 0;
  }
  
  form {
    margin: calc(var(--overlap) * -1) auto 0 auto;
    width: 80%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.5);
    position: relative;
    padding: 1rem;
    overflow: scroll;
  }
  
  form > header {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
  }
  
  form > header > * {
    flex: 0 0 auto;
  }
  
  .company .name,
  .customer .bill-to {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }
  
  form > header h2 {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  .customer {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
  }
  
  .customer > * {
    flex: 0 0 auto;
  }
  
  .customer .invoice {
    margin-left: auto;
  }
  
  .customer .invoice th {
    padding-right: 0.5rem;
    text-align: right;
  }
  
  form > table {
    width: 100%;
    /*   border-collapse: collapse; */
  }
  
  form > table th {
    background: var(--theme-color);
    color: #fff;
  }
  
  form > table th {
    padding: 0.35rem 0.75rem;
  }
  
  form > table td {
    padding: 0.35rem 0;
  }
  
  form > table th:first-child,
  form > table td:first-child {
    text-align: left;
  }
  
  form > table th:last-child,
  form > table td:last-child {
    text-align: right;
    max-width: 100px;
  }
  
  form > table td:last-child > input {
    text-align: right;
  }
  
  form > table th:nth-child(2),
  form > table td:nth-child(2),
  form > table th:nth-child(3),
  form > table td:nth-child(3) {
    max-width: 100px;
  }
  
  form > table td:nth-child(2) input,
  form > table td:nth-child(3) input {
    text-align: center;
  }
  
  form > table tr:last-child button {
    background: inherit;
    border: 1px solid var(--theme-color);
    padding: 0.35rem 0.75rem;
    color: var(--theme-color);
    border-radius: 2px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  form > table tr:last-child button:hover {
    background: var(--theme-color);
    color: #fff;
  }
  
  form > table tr:last-child input {
    background: transparent;
    color: #fff;
    text-align: right;
    padding: 0;
  }
  
  input {
    width: 100%;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
  }
  
  input.error {
    border-color: #d50000;
  }
  
  input[disabled] {
    border: none;
  }
  
  .footer {
    text-align: center;
    padding: 1rem;
  }
  
  /* template */
  
  body,
  html {
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    font-family: sans-serif;
  }
  .custom-navbar {
    background: linear-gradient(90deg, #4b6cb7, #182848) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand i {
    margin-right: 10px;
}  
form > table th:nth-child(4),
form > table td:nth-child(4),
form > table th:nth-child(5),
form > table td:nth-child(5) {
  max-width: 100px;
}

form > table td:nth-child(4) input,
form > table td:nth-child(5) input {
  text-align: center;
}